
<% if (success && success.length) { %>
    <div class="borderCustom alerter alert-success row widthZero">
        <p class="col-10 message"><%= success %> </p>
        <span class="col-2 closeCustom">&times;</span>
    </div>
<% } %>


<% if (error && error.length) { %>
    <div class="borderCustom alerter alert-danger row widthZero">
        <p class="col-10 message">
            <%= error %>
        </p>
        <span class="col-2 closeCustom">&times;</span>
    </div>
    <% } %>
